
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})

	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Font-Awesome -->
	<link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

	<!-- Bootstrap Font Icon CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="../css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../css/overlayscrollbars.min.css">
	<link rel="stylesheet" type="text/css" href="../css/choices.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- Sidebar START -->
	<nav th:insert="~{fragments/viewers/_navbar-admin :: navbar-admin}"></nav>
	<!-- Sidebar END -->

	<!-- Page content START -->
	<div class="page-content">

		<!-- Top bar START -->
		<nav class="navbar top-bar navbar-light py-0 py-xl-3">
			<div class="container-fluid p-0">
				<div class="d-flex align-items-center w-100">

					<!-- Logo START -->
					<div class="d-flex align-items-center d-xl-none">
						<a class="navbar-brand" href="index.html">
							<img class="navbar-brand-item h-40px" src="https://booking.webestica.com/assets/images/logo-icon.svg" alt="">
						</a>
					</div>
					<!-- Logo END -->

					<!-- Toggler for sidebar START -->
					<div class="navbar-expand-xl sidebar-offcanvas-menu">
						<button class="navbar-toggler me-auto p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
							<i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
						</button>
					</div>
					<!-- Toggler for sidebar END -->

					<!-- Top bar left -->
					<div class="navbar-expand-lg ms-auto ms-xl-0">
						<!-- Toggler for menubar START -->
						<button class="navbar-toggler ms-auto p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopContent" aria-controls="navbarTopContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="bi bi-search"></i>
						</button>
						<!-- Toggler for menubar END -->

						<!-- Topbar menu START -->
						<div class="collapse navbar-collapse w-100 z-index-1" id="navbarTopContent">
							<!-- Top search START -->
							<div class="nav my-3 my-xl-0 flex-nowrap align-items-center">
								<div class="nav-item w-100">
									<form class="position-relative">
										<input class="form-control bg-light pe-5" type="search" placeholder="Search" aria-label="Search">
										<button class="bg-transparent px-2 py-0 border-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 text-primary"></i></button>
									</form>
								</div>
							</div>
							<!-- Top search END -->
						</div>
						<!-- Topbar menu END -->
					</div>
					<!-- Top bar left END -->

					<!-- Top bar right START -->
					<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
						<li th:insert="~{fragments/viewers/_header :: navbar-user-login}"></li>
					</ul>
					<!-- Top bar right END -->
				</div>
			</div>
		</nav>
		<!-- Top bar END -->

		<!-- Page main content START -->
		<div class="page-content-wrapper p-xxl-4">

			<!-- Title -->
			<div class="row">
				<div class="col-12 mb-3 mb-sm-4">
					<div class="d-sm-flex justify-content-between align-items-center">
						<h1 class="h3 mb-3 mb-sm-0">Donate List</h1>
					</div>
				</div>
			</div>

			<!-- Earning block START -->
			<div class="row g-4 mb-6">
				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6 class="mb-0">Thu nhập trong tháng</h6>
						<h3 class="mb-2 mt-2" th:text="${sumMonth} + ' VND'">$112</h3>
						<p class="mt-auto mb-0"><span th:text="${upToDownMonth}">Increase </span> so với tháng trước <span th:class="${upToDownMonth} == 'Tăng' ? 'badge bg-success bg-opacity-10 text-success' : 'badge bg-danger bg-opacity-10 text-danger'"><span th:text="${muchMonth} + '%'">10%</span> <i th:class="${upToDownMonth} == 'Tăng' ? 'bi bi-graph-up' : 'bi bi-graph-down'"></i></span></p>
					</div>
				</div>

				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6 class="mb-0">Thu nhập trong năm</h6>
						<h3 class="mb-2 mt-2" th:text="${sumYear} + ' VND'">$899.95</h3>
						<p class="mt-auto mb-0"><span th:text="${upToDownYear}">Increase</span> so với năm trước <span th:class="${upToDownYear} == 'Tăng' ? 'badge bg-success bg-opacity-10 text-success' : 'badge bg-danger bg-opacity-10 text-danger'"><span th:text="${muchYear} + '%'">10%</span> <i th:class="${upToDownYear} == 'Tăng' ? 'bi bi-graph-up' : 'bi bi-graph-down'"></i></span></p>
					</div>
				</div>

				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card card-body bg-light p-4 h-100">
						<h6>Tổng số thu nhập
							<a tabindex="0" class="h6 mb-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="After US royalty withholding tax">
								<i class="bi bi-info-circle-fill small"></i>
							</a>
						</h6>
						<h3 th:text="${allMoney} + ' VND'">$15,356</h3>
						<p class="mb-0 mt-auto">Cập nhật gần nhất: <span th:text="' ' + ${currentDate}"> 05/10/2022</span></p>
					</div>
				</div>

				<!-- Block item -->
				<div class="col-sm-6 col-xxl-3">
					<div class="card bg-primary p-4" style="height: 100%">
						<div class="d-flex justify-content-between align-items-start text-white">
							<img class="w-40px" alt="" src="https://stcd02206177151.cloud.edgevnpay.vn/assets/images/logo-icon/logo-primary.svg" style="background: white; padding: 4px;">
							<!-- Card action START -->
							<div class="dropdown">
								<a class="text-white" href="#" id="creditcardDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
									<!-- Dropdown Icon -->
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle fill="currentColor" cx="12.5" cy="3.5" r="2.5"></circle>
										<circle fill="currentColor" opacity="0.5" cx="12.5" cy="11.5" r="2.5"></circle>
										<circle fill="currentColor" opacity="0.3" cx="12.5" cy="19.5" r="2.5"></circle>
									</svg>
								</a>
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="creditcardDropdown">
									<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card-2-front-fill me-2 fw-icon"></i>Thay đổi thẻ</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-credit-card me-2 fw-icon"></i>Thêm thẻ mới</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-arrow-bar-down me-2 fw-icon"></i>Rút tiền</a></li>
									<li><a class="dropdown-item" href="#"><i class="bi bi-calculator me-2 fw-icon"></i>Chuyển đổi tiền tệ</a></li>
								</ul>
							</div>
							<!-- Card action END -->
						</div>
						<div class="mt-4 text-white fw-bold">
							<span>Thông tin</span>
						</div>
						<h5 class="text-white mt-4">**** **** **** 2198</h5>
						<div class="d-flex justify-content-between text-white">
							<span>Valid thru: 07/15</span>
							<span>CVV: ***</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Earning block END -->

			<!-- Invoice history START -->
			<div class="row">
				<div class="col-12">
					<div class="card border rounded-3">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h5 class="card-title mb-0">Lịch sử Donate</h5>
						</div>
						<!-- Card body START -->
						<div class="card-body">
							<!-- Hotel room list START -->
							<div class="table-responsive border-0">
								<table class="table align-middle p-4 mb-0 table-hover table-shrink">
									<!-- Table head -->
									<thead class="table-light">
									<tr>
										<th scope="col" class="border-0 rounded-start">Email</th>
										<th scope="col" class="border-0">Ngày donate</th>
										<th scope="col" class="border-0">Số tiền</th>
										<th scope="col" class="border-0 rounded-end">Hành động</th>
									</tr>
									</thead>

									<!-- Table body START -->
									<tbody class="border-top-0">
									<!-- Table item -->
									<tr th:each="spon : ${listSpon}">
										<td th:text="${spon.users.userName}"> daoducdung2000@gmail.com </td>
										<td th:text="${spon.sponsDate}"> 29 Aug 2022 </td>
										<td th:text="${spon.sponsGift}">$3,999</td>
										<td> <div class="col"><a th:href="@{/admin/donate-detail(id=${spon.id})}" class="btn btn-sm btn-primary mb-0">Xem chi tiết</a></div> </td>
									</tr>
									</tbody>
									<!-- Table body END -->
								</table>
							</div>
							<!-- Hotel room list END -->
						</div>
						<!-- Card body END -->

						<!-- Card footer START -->
						<div class="card-footer pt-0">
							<!-- Pagination and content -->
							<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
								<!-- Content -->
								<p class="mb-sm-0 text-center text-sm-start">Đang hiển thị <span th:text="${listSpon.number} * ${listSpon.size} == 0 ? 1 : (${listSpon.number} * ${listSpon.size}) + 1">1</span> đến <span th:text="${listSpon.totalElements} - (${listSpon.number} * ${listSpon.size} + ${listSpon.size}) < 0 ? ${listSpon.totalElements} : (${listSpon.number} * ${listSpon.size} + ${listSpon.size})">10</span> trên <span th:text="${listSpon.totalElements}">57</span> thành phần</p>
								<!-- Pagination -->
								<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation" th:if="${listSpon.totalPages} >= 2">
									<ul class="pagination pagination-sm pagination-primary-soft mb-0">
										<li class="page-item disabled">
											<a class="page-link" href="#" tabindex="-1">Prev</a>
										</li>
										<li class="" th:each="pageNumber, pageIndex : ${#numbers.sequence(0, listSpon.totalPages - 1)}"
											th:class="${pageIndex.index + 1} == ${page} ? 'page-item active' : 'page-item'">
											<a th:href="@{/admin/user-donate/changePage(page=${pageIndex.index})}" th:text="${pageIndex.index + 1}" class="page-link"></a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#">Next</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<!-- Card footer END -->
					</div>
				</div>
			</div>
			<!-- Invoice history END -->

		</div>
		<!-- Page main content END -->
	</div>
	<!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- Bootstrap JS -->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- Vendor -->
<script src="../js/overlayscrollbars.min.js"></script>
<script src="../js/choices.min.js"></script>

<!-- ThemeFunctions -->
<script src="../js/functions.js"></script>

</body>
</html>