<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Petfind - Multipurpose Online Petfind Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Petfind - Multipurpose Online Petfind Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Bootstrap Font Icon CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="../css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../css/tiny-slider.css">
	<link rel="stylesheet" type="text/css" href="../css/glightbox.css">
	<link rel="stylesheet" type="text/css" href="../css/flatpickr.min.css">
	<link rel="stylesheet" type="text/css" href="../css/choices.min.css">
	

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<style>
		.form-control-inline .choices .choices__inner .choices__item {
			color: #1800ff !important;
		}
	</style>

</head>

<body class="has-navbar-mobile">

<!-- Header START -->
<header class="navbar-light header-sticky" th:insert="~{fragments/viewers/_header :: header}"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

	<!-- =======================
	Main banner START -->
	<section class="position-relative py-xl-9" style="background-image:url(https://img.freepik.com/premium-photo/full-moon-colored-background-with-clipping-path_1066580-764.jpg?w=1280); background-position: center; background-size: cover;">
		<div class="container z-index-9">
			<div class="row">
				<div class="col-lg-11 m-auto text-center position-relative z-index-9">
					<!-- Form START -->
					<form class="form-control-inline my-5">
						<div class="d-flex flex-wrap justify-content-center align-items-center">
							<!-- Select item -->
							<label class="form-control-inline-text">We are looking for a</label>
							<span class="d-inline-block">
								<select class="form-select js-choice">
									<option value="">Select</option>
									<option>Dog</option>
									<option>Cat</option>
									<option>Brid</option>
								</select>
							</span>
							<!-- Select item -->
							<label class="form-control-inline-text"> and must be in harmony with </label>
							<span class="d-inline-block">
								<select class="form-select js-choice">
									<option value="">Select</option>
									<option>Other cats</option>
									<option>Other dogs</option>
									<option>Children</option>
								</select>
							</span>
	
							<!-- Select item -->
							<label class="form-control-inline-text">. We </label>
							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select</option>
									<option>Not have</option>
									<option>Have</option>
								</select>
							</span>
	
							<!-- Date picker -->
							<label class="form-control-inline-text"> experience in raising PET</label>
							<label class="form-control-inline-text">. Our home is </label>
							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select</option>
									<option>Not have</option>
									<option>Have</option>
								</select>
							</span>

							<label class="form-control-inline-text"> an outdoor space, </label>
							<label class="form-control-inline-text"> so I need Pet to satisfy the criteria: </label>
							<br>
							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select Breed</option>
									<option>Gogri</option>
									<option>Buddog</option>
								</select>
							</span>

							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select Size</option>
									<option>Small</option>
									<option>Medium</option>
									<option>Large</option>
									<option>Extra Large</option>
								</select>
							</span>

							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select Age</option>
									<option>Puppy</option>
									<option>Young</option>
									<option>Adult</option>
									<option>Senior</option>
								</select>
							</span>

							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select Gender</option>
									<option>Male</option>
									<option>Female</option>
								</select>
							</span>

							<span class="d-inline-block">
								<select class="form-select js-choice" data-search-enabled="true">
									<option value="">Select Characteristic</option>
									<option>Not have</option>
									<option>Have</option>
								</select>
							</span>
	
							<!-- Label -->
							<label class="form-control-inline-text">.</label>
						</div>
	
						<!-- Button -->
						<button class="icon-xxl bg-primary btn-dark-hover rounded-circle btn fs-6 text-white p-0 mt-4" type="submit">Search</button>
					</form>
					<!-- Form END -->
				</div>
			</div> <!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Main banner START -->
	
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer th:insert="~{fragments/viewers/_footer :: footer}"></footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top">
	<svg xmlns="http://www.w3.org/2000/svg" height="20" width="12"
		viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
		<path fill="#ffffff"
			d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3V480c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z">
		</path>
	</svg>
</div>

<!-- Navbar mobile START -->
<div class="navbar navbar-mobile">
	<ul class="navbar-nav">
		<!-- Nav item Home -->
		<li class="nav-item">
			<a class="nav-link active" href="index.html"><i class="bi bi-house-door fa-fw"></i>
				<span class="mb-0 nav-text">Home</span>
			</a>	
		</li>

		<!-- Nav item My Trips -->
		<li class="nav-item"> 
			<a class="nav-link" href="account-bookings.html"><i class="bi bi-briefcase fa-fw"></i>
				<span class="mb-0 nav-text">My Trips</span>
			</a>	
		</li>

		<!-- Nav item Offer -->
		<li class="nav-item"> 
			<a class="nav-link" href="offer-detail.html"><i class="bi bi-percent fa-fw"></i>
				<span class="mb-0 nav-text">Offer</span> 
			</a>
		</li>

		<!-- Nav item Account -->
		<li class="nav-item"> 
			<a class="nav-link" href="account-profile.html"><i class="bi bi-person-circle fa-fw"></i>
				<span class="mb-0 nav-text">Account</span>
			</a>
		</li>
	</ul>
</div>
<!-- Navbar mobile END -->

<!-- Bootstrap JS -->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="../js/tiny-slider.js"></script>
<script src="../js/glightbox.js"></script>
<script src="../js/flatpickr.min.js"></script>
<script src="../js/choices.min.js"></script>

<!-- ThemeFunctions -->
<script src="../js/functions.js"></script>

</body>
</html>