<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Booking - Multipurpose Online Booking Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')
 
        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if(el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                const activeThemeIcon = document.querySelector('.theme-icon-active use')
                const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active')
                })

                btnToActive.classList.add('active')
                activeThemeIcon.setAttribute('href', svgOfActiveBtn)
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                if (storedTheme !== 'light' || storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            showActiveTheme(getPreferredTheme())

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        localStorage.setItem('theme', theme)
                        setTheme(theme)
                        showActiveTheme(theme)
                    })
                })

            }
        })

    </script>

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="../css/choices.min.css">
    <link rel="stylesheet" type="text/css" href="../css/nouislider.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky" th:insert="~{fragments/viewers/_header :: header}"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main Banner START -->
    <section class="pt-0">
        <div class="container">
            <!-- Background image -->
            <div class="p-3 p-sm-5 rounded-3" style="background-image: url(https://booking.webestica.com/assets/images/bg/04.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                <!-- Banner title -->
                <div class="row">
                    <div class="col-md-8 mx-auto my-5">
                        <h1 class="banner-title text-center text-dark" th:text="${breed_type}">Dogs</h1>
                    </div>
                </div>
            </div>

            <!-- Search START -->
            <div class="row mt-n4 mt-sm-n7">
                <div class="col-11 mx-auto">

                    <!-- Booking from START -->
                    <div class="bg-mode shadow p-4 rounded-3">

                        <!-- Main search START -->
                        <form class="form-control-bg-transparent bg-mode rounded-3">
                            <div class="row g-4 align-items-center">

                                <div class="col-xl-10">
                                    <div class="row g-4">
                                        <!-- Location -->
                                        <div class="col-md-6 col-lg-6">
                                            <label class="h6 fw-normal mb-0"><i class="bi bi-geo-alt text-primary me-1"></i>Location</label>
                                            <!-- Input field -->
                                            <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
                                                <select class="form-select js-choice sl-location" data-search-enabled="true">
                                                    <option value="" selected>Select location</option>
                                                    <option>An Giang</option>
                                                    <option>Bà Rịa - Vũng Tàu</option>
                                                    <option>Bắc Giang</option>
                                                    <option>Bắc Kạn</option>
                                                    <option>Bạc Liêu</option>
                                                    <option>Bắc Ninh</option>
                                                    <option>Bến Tre</option>
                                                    <option>Bình Dương</option>
                                                    <option>Bình Định</option>
                                                    <option>Bình Phước</option>
                                                    <option>Bình Thuận</option>
                                                    <option>Cà Mau</option>
                                                    <option>Cần Thơ</option>
                                                    <option>Cao Bằng</option>
                                                    <option>Đà Nẵng</option>
                                                    <option>Đắk Lắk</option>
                                                    <option>Đắk Nông</option>
                                                    <option>Điện Biên</option>
                                                    <option>Đồng Nai</option>
                                                    <option>Đồng Tháp</option>
                                                    <option>Gia Lai</option>
                                                    <option>Hà Giang</option>
                                                    <option>Hà Nam</option>
                                                    <option>Hà Nội</option>
                                                    <option>Hà Tĩnh</option>
                                                    <option>Hải Dương</option>
                                                    <option>Hải Phòng</option>
                                                    <option>Hậu Giang</option>
                                                    <option>Hồ Chí Minh</option>
                                                    <option>Hoà Bình</option>
                                                    <option>Hưng Yên</option>
                                                    <option>Khánh Hòa</option>
                                                    <option>Kiên Giang</option>
                                                    <option>Kon Tum</option>
                                                    <option>Lai Châu</option>
                                                    <option>Lâm Đồng</option>
                                                    <option>Lạng Sơn</option>
                                                    <option>Lào Cai</option>
                                                    <option>Long An</option>
                                                    <option>Nam Định</option>
                                                    <option>Nghệ An</option>
                                                    <option>Ninh Bình</option>
                                                    <option>Ninh Thuận</option>
                                                    <option>Phú Thọ</option>
                                                    <option>Phú Yên</option>
                                                    <option>Quảng Bình</option>
                                                    <option>Quảng Nam</option>
                                                    <option>Quảng Ngãi</option>
                                                    <option>Quảng Ninh</option>
                                                    <option>Quảng Trị</option>
                                                    <option>Sóc Trăng</option>
                                                    <option>Sơn La</option>
                                                    <option>Tây Ninh</option>
                                                    <option>Thái Bình</option>
                                                    <option>Thái Nguyên</option>
                                                    <option>Thanh Hóa</option>
                                                    <option>Thừa Thiên Huế</option>
                                                    <option>Tiền Giang</option>
                                                    <option>Trà Vinh</option>
                                                    <option>Tuyên Quang</option>
                                                    <option>Vĩnh Long</option>
                                                    <option>Vĩnh Phúc</option>
                                                    <option>Yên Bái</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Breed -->
                                        <div class="col-md-6 col-lg-6">
                                            <label class="h6 fw-normal mb-0"><i class="fa-solid fa-person-skating text-primary me-1"></i>Breed type</label>
                                            <!-- Input field -->
                                            <div class="form-border-bottom form-control-transparent form-fs-lg mt-2">
                                                <select class="form-select js-choice sl-breed" data-search-enabled="true">
                                                    <option selected value="">Select type</option>
                                                    <option>Adventure</option>
                                                    <option>Beach</option>
                                                    <option>Labrador Retriever</option>
                                                    <option>History</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="col-xl-2">
                                    <div class="d-grid">
                                        <a href="#" class="btn btn-lg btn-dark mb-0 take-a-pet">Take a pet</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Main search END -->

                        <!-- Collapse button -->
                        <div class="d-grid mt-4">
                            <input type="checkbox" class="btn-check" id="btn-check-soft">
                            <label class="btn btn-primary-soft btn-primary-check mb-0" for="btn-check-soft" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-controls="collapseExample">
                                <i class="bi fa-fe bi-sliders me-2"></i>Advance Filters
                            </label>
                        </div>

                        <!-- Advance filter START -->
                        <div class="collapse" id="collapseExample">
                            <form class="row g-4 mt-3">

                                <!-- Input item -->
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-control-borderless">
                                        <label class="form-label">Enter Pet Name</label>
                                        <input type="text" class="form-control form-control-lg bg-light ip-name">
                                    </div>
                                </div>

                                <!-- Select Size -->
                                <div class="col-md-6 col-lg-6">
                                    <div class="form-control-bg-light form-size-lg">
                                        <label class="form-label">Size Type</label>
                                        <select class="form-select js-choice sl-size">
                                            <option value="">Select Option</option>
                                            <option>Small (0-25 lbs)</option>
                                            <option>Medium (26-60 lbs)</option>
                                            <option>Large (61-100 lbs)</option>
                                            <option>Extra Large (101 lbs or more)</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Age -->
                                <div class="col-md-6 col-lg-6">
                                    <label class="form-label">Age type</label>
                                    <ul class="list-inline mb-0 g-3">
                                        <!-- 1 -->
                                        <li class="list-inline-item">
                                            <input type="checkbox" class="btn-check" id="btn-check-9">
                                            <label class="btn btn-light btn-primary-soft-check" for="btn-check-9">Puppy</label>
                                        </li>
                                        <!-- 2 -->
                                        <li class="list-inline-item">
                                            <input type="checkbox" class="btn-check" id="btn-check-10">
                                            <label class="btn btn-light btn-primary-soft-check" for="btn-check-10">Young</label>
                                        </li>
                                        <!-- 3 -->
                                        <li class="list-inline-item">
                                            <input type="checkbox" class="btn-check" id="btn-check-11">
                                            <label class="btn btn-light btn-primary-soft-check" for="btn-check-11">Adult</label>
                                        </li>
                                        <!-- 4 -->
                                        <li class="list-inline-item">
                                            <input type="checkbox" class="btn-check" id="btn-check-12">
                                            <label class="btn btn-light btn-primary-soft-check" for="btn-check-12">Senior</label>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Gender -->
                                <div class="col-md-6 col-lg-6">
                                    <label class="form-label">Gender</label>
                                    <div>
                                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                            <label class="btn btn-light btn-primary-soft-check mb-0" for="btnradio1">Male</label>

                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                            <label class="btn btn-light btn-primary-soft-check mb-0" for="btnradio2">Female</label>

                                            <input type="radio" class="btn-check" name="btnradio" id="btnradio3">
                                            <label class="btn btn-light btn-primary-soft-check mb-0" for="btnradio3">Both</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Advance filter END -->

                    </div>
                    <!-- Booking from END -->
                </div>
            </div>
            <!-- Search END -->
        </div>
    </section>
    <!-- =======================
    Main Banner END -->

    <!-- =======================
    Pet grid START -->
    <section class="pt-0">
        <div class="container">

            <!-- Filter and content START -->
            <div class="row g-4 align-items-center justify-content-between mb-4">
                <!-- Content -->
                <div class="col-12 col-xl-8">
                    <h5 class="mb-0">Showing 1-9 of 32 result</h5>
                </div>

                <!-- Select option -->
                <div class="col-xl-2">
                    <form class="form-control-bg-light">
                        <select class="form-select js-choice" onchange="filter()" id="choiceFilter">
                            <option value="All">Select Filter</option>
                            <option value="Name-Pet(A-Z)">Pet Name (A-Z)</option>
                            <option value="Date-Submitted">Date</option>
                            <option value="Top-rated">Top rated</option>
                        </select>
                    </form>
                </div>
            </div>
            <!-- Filter and content END -->

            <!-- Contains -->
            <div class="show-card-info row g-4">
                <!-- Card item START -->
                <div class="col-md-6 col-xl-4" th:each="animal : ${listAnimal}" th:id="${animal.id}">
                    <div class="card shadow p-2 pb-0 h-100">
                        <!-- Image -->
                        <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080" class="rounded-2" alt="Card image">

                        <!-- Card body START -->
                        <div class="card-body px-3 pb-0">
                            <!-- Rating and cart -->
                            <div class="d-flex justify-content-between mb-3">
                                <a href="#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i><span th:text="${animal.breed.breed_name}"></span></a>
                                <a th:href="@{/addFavorite(id=${animal.id})}" class="h6 mb-0 z-index-2 favorites"><i class="bi fa-fw bi-bookmark"></i></a>
                            </div>

                            <!-- Title -->
                            <h5 class="card-title"><a  th:href="@{'/pet-detail?id=' + ${animal.id}}" th:text="${animal.animalName}">Cole</a></h5>

                            <!-- List -->
                            <ul class="nav nav-divider mb-2 mb-sm-3">
                                <li class="nav-item" th:text="${animal.animalAge}">Young</li>
                                <li class="nav-item" th:text="${animal.animalSize}">Medium</li>
                                <li class="nav-item" th:text="${animal.animalGender ? 'Male' : 'Female'}">Male</li>
                                <li class="nav-item">More +</li>
                            </ul>
                        </div>
                        <!-- Card body END -->

                        <!-- Card footer START-->
                        <div class="card-footer pt-0">
                            <!-- Price and Button -->
                            <div class="d-sm-flex justify-content-sm-center align-items-center">
                                <!-- Button -->
                                <div class="mt-2 mt-sm-0">
                                    <a href="#" th:href="@{'/pet-detail?id=' + ${animal.id}}" class="btn btn-sm btn-primary-soft mb-0 w-100">View Detail<i class="bi bi-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card item END -->
            </div>

            <!-- Pagination -->
            <div class="row" th:if="${listAnimal.totalPages} >= 2">
                <div class="col-12">
                    <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
                        <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                            <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fa-solid fa-angle-left"></i></a></li>
                            <li class="" th:each="pageNumber, pageIndex : ${#numbers.sequence(0, listAnimal.totalPages - 1)}"
                                th:class="${pageIndex.index + 1} == 1 ? 'page-item mb-0 pageable active' : 'page-item mb-0 pageable'">
                                <a href="#" th:text="${pageIndex.index + 1}" class="page-link take-a-pet"></a>
                            </li>
<!--                            <li class="page-item mb-0 pageable active"><a class="page-link take-a-pet" href="#">1</a></li>-->
<!--                            <li class="page-item mb-0 pageable"><a class="page-link take-a-pet" href="#">2</a></li>-->
<!--                            <li class="page-item mb-0 pageable"><a class="page-link take-a-pet" href="#">3</a></li>-->
<!--                            <li class="page-item mb-0 pageable"><a class="page-link take-a-pet" href="#">4</a></li>-->
<!--                            <li class="page-item mb-0 pageable"><a class="page-link take-a-pet" href="#">5</a></li>-->
<!--                            <li class="page-item mb-0 pageable"><a class="page-link take-a-pet" href="#">6</a></li>-->
                            <li class="page-item mb-0 pageable"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Pet grid END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer th:insert="~{fragments/viewers/_footer :: footer}"></footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top">
    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12"
         viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path fill="#ffffff"
              d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3V480c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z">
        </path>
    </svg>
</div>

<!-- Bootstrap JS -->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="../js/flatpickr.min.js"></script>
<script src="../js/choices.min.js"></script>
<script src="../js/nouislider.min.js"></script>

<!-- ThemeFunctions -->
<script src="../js/functions.js"></script>

<!--  JQuery  -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).on('click', ".pageable", e => {
		document.querySelectorAll("li.pageable").forEach(v => {
            v.classList.remove("active");
        });
		e.currentTarget.classList.add("active");
	})

    function filter() {
        var filterPet = document.getElementById("choiceFilter").value;
        $.post({
            url: '/filter-pet', // Đường dẫn của yêu cầu POST
            contentType: 'application/json', // Kiểu dữ liệu của dữ liệu gửi đi
            data: JSON.stringify({ filterPet: filterPet }) // dữ liệu
        });
    }

    $(document).on('click', '.take-a-pet', function(event) {
        event.preventDefault();
        console.log("zo");

        var location = $(".sl-location")[0].value
        var breed = $(".sl-breed")[0].value
        var name = "";
        var size = "";
        var listAge = [];
        var listGender = [];
        var gender = "";
        var pageable = "";
        var listBreedType = [];
        var pageNumber = 0;
        var sizePage = 12;

        if(event.currentTarget.parentElement.classList.contains("pageable")){
            pageNumber = parseInt(event.currentTarget.innerText) - 1;
        }

        switch(document.querySelector(".banner-title").innerText) {
            case "Dog":
                listBreedType.push("Dog");
                break;
            case "Cat":
                listBreedType.push("Cat");
                break;
            default:
                console.log(1);
        }

        if($("#btn-check-soft")[0].checked){
            name = $(".ip-name")[0].value
            size = $(".sl-size")[0].value

            for (let j = 0; j < $('.list-inline-item>input[type="checkbox"]').length; j++) {
                if($('.list-inline-item>input[type="checkbox"]')[j].checked){
                    var age = $('label[for="'+ $('.list-inline-item>input[type="checkbox"]')[j].id +'"]')[0].innerText
                    listAge.push(age)
                }
            }

            for(let i = 0; i < $("input[type='radio']").length; i++){
                if($("input[type='radio']")[i].checked){
                    var gender = $('label[for="'+ $("input[type='radio']")[i].id +'"]')[0].innerText
                    var bo = true;
                    if(gender === "Female"){
                        bo = false;
                    } else if(gender === "Both"){
                        var bo1 = false;
                        listGender.push(bo1)
                    }
                    listGender.push(bo)
                }
            }
        }

        var requestData = {
                location: location,
                breed: breed,
                name: name,
                size: size,
                age: listAge,
                gender: listGender,
                page: pageNumber,
                sizePage: sizePage,
                breedType: listBreedType
            };

        $.ajax({
            type: "POST",
            url: "/search-pet",
            contentType: "application/json",
            data: JSON.stringify(requestData),
            success: function(response) {
                console.log(response)
                $(".show-card-info").get(0).innerHTML = ``
                response.forEach((event) => {
                    $(".show-card-info").get(0).innerHTML += `
                        <!-- Card item START -->
                        <div class="col-md-6 col-xl-4" id="${event.id}">
                            <div class="card shadow p-2 pb-0 h-100">
                                <!-- Image -->
                                <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080" class="rounded-2" alt="Card image">

                                <!-- Card body START -->
                                <div class="card-body px-3 pb-0">
                                    <!-- Rating and cart -->
                                    <div class="d-flex justify-content-between mb-3">
                                        <a href="#" class="badge bg-dark text-white"><i class="bi fa-fw bi-star-fill me-2 text-warning"></i>${event.breed}</a>
                                        <a href="/addFavorite?id=${event.id}" class="h6 mb-0 z-index-2 favorites"><i class="bi fa-fw bi-bookmark"></i></a>
                                    </div>

                                    <!-- Title -->
                                    <h5 class="card-title"><a href="/pet-detail?id=${event.id}">${event.name}</a></h5>

                                    <!-- List -->
                                    <ul class="nav nav-divider mb-2 mb-sm-3">
                                        <li class="nav-item">${event.age}</li>
                                        <li class="nav-item">${event.size}</li>
                                        <li class="nav-item">${event.gender ? "Male" : "Female"}</li>
                                        <li class="nav-item">More +</li>
                                    </ul>
                                </div>
                                <!-- Card body END -->

                                <!-- Card footer START-->
                                <div class="card-footer pt-0">
                                    <!-- Price and Button -->
                                    <div class="d-sm-flex justify-content-sm-center align-items-center">
                                        <!-- Button -->
                                        <div class="mt-2 mt-sm-0">
                                            <a href="/pet-detail?id=${event.id}" class="btn btn-sm btn-primary-soft mb-0 w-100">View Detail<i class="bi bi-arrow-right ms-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                    `
                })

                response[response.length - 1].listFavorite.forEach(e => {
                    if($("div #" + e).get(0) !== undefined) {
                        $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.remove("bi-bookmark")
                        $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.add("bi-bookmark-fill")
                        $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.add("text-danger")
                        $("div #" + e + " a.h6.mb-0.z-index-2").get(0).href = "/removeFavorite?id=" + e;
                    }
                })
            },
            error: function() {
                console.log(1);
            }
        });
    });

    var favorite = [[${listFavorites}]];
    favorite.forEach(e => {
        if($("div #" + e).get(0) !== undefined) {
            $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.remove("bi-bookmark")
            $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.add("bi-bookmark-fill")
            $("div #" + e + " a.h6.mb-0.z-index-2 i").get(0).classList.add("text-danger")
            $("div #" + e + " a.h6.mb-0.z-index-2").get(0).href = "/removeFavorite?id=" + e;
        }
    })

    $(document).on('click', ".favorites", e => {
		e.preventDefault();
		var id = e.currentTarget.href.substring(e.currentTarget.href.indexOf("id="));
		 $.ajax({
            type: "GET",
            url: e.currentTarget.href,
            success: function(response) {
                if(response === "addFavorite"){
                    e.currentTarget.querySelector("i").classList.remove("bi-bookmark")
                    e.currentTarget.querySelector("i").classList.add("bi-bookmark-fill")
                    e.currentTarget.querySelector("i").classList.add("text-danger")
                    e.currentTarget.href = "/removeFavorite?" + id;
                } else if(response === "removeFavorite") {
                    e.currentTarget.querySelector("i").classList.remove("bi-bookmark-fill")
                    e.currentTarget.querySelector("i").classList.remove("text-danger")
                    e.currentTarget.querySelector("i").classList.add("bi-bookmark")
                    e.currentTarget.href = "/addFavorite?" + id;
                }

            },
            error: function() {
                console.log(1);
            }
        });
	})
</script>

</body>
</html>