<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Booking - Multipurpose Online Booking Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })
    </script>

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/tiny-slider.css">
    <link rel="stylesheet" type="text/css" href="../css/glightbox.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>

    <!-- Header START -->
    <header th:insert="~{fragments/viewers/_header :: header}"></header>
    <!-- Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
Main banner START -->
        <section class="py-0">
            <div class="container-fluid px-0">
                <!-- Slider START -->
                <div class="tiny-slider arrow-round arrow-blur">
                    <div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-gutter="0" data-edge="0"
                        data-dots="false" data-items="3" data-items-md="2" data-items-xs="1">
                        <!-- Slider item -->
                        <div>
                            <a class="w-100 h-100" data-glightbox data-gallery="gallery"
                                href="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080">
                                <div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
                                    <!-- Image -->
                                    <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080"
                                        class="" alt="">
                                    <!-- Full screen button -->
                                    <div class="hover-element w-100 h-100">
                                        <i
                                            class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Slider item -->
                        <div>
                            <a class="w-100 h-100" data-glightbox data-gallery="gallery"
                                href="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/29f8f014-c6d1-4077-9efe-0e537a6c6926.jpeg?versionId=zbKdFYWbbT9AKKDBmLODO3_WI6ejyj91&bust=1715152413&width=1080">
                                <div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
                                    <!-- Image -->
                                    <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/29f8f014-c6d1-4077-9efe-0e537a6c6926.jpeg?versionId=zbKdFYWbbT9AKKDBmLODO3_WI6ejyj91&bust=1715152413&width=1080"
                                        class="" alt="">
                                    <!-- Full screen button -->
                                    <div class="hover-element w-100 h-100">
                                        <i
                                            class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Slider item -->
                        <div>
                            <a class="w-100 h-100" data-glightbox data-gallery="gallery"
                                href="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080">
                                <div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
                                    <!-- Image -->
                                    <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/f9d2d717-bcde-4921-9368-bdd29d2eb2a4.jpeg?versionId=7loAc3d770vRZUsP4RRoZ.3OQmm2.X8P&bust=1715152401&width=1080"
                                        class="" alt="">
                                    <!-- Full screen button -->
                                    <div class="hover-element w-100 h-100">
                                        <i
                                            class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- Slider item -->
                        <div>
                            <a class="w-100 h-100" data-glightbox data-gallery="gallery"
                                href="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/29f8f014-c6d1-4077-9efe-0e537a6c6926.jpeg?versionId=zbKdFYWbbT9AKKDBmLODO3_WI6ejyj91&bust=1715152413&width=1080">
                                <div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
                                    <!-- Image -->
                                    <img src="https://dbw3zep4prcju.cloudfront.net/animal/2fdc1350-21be-406b-9dd7-921504f6900c/image/29f8f014-c6d1-4077-9efe-0e537a6c6926.jpeg?versionId=zbKdFYWbbT9AKKDBmLODO3_WI6ejyj91&bust=1715152413&width=1080"
                                        class="" alt="">
                                    <!-- Full screen button -->
                                    <div class="hover-element w-100 h-100">
                                        <i
                                            class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Slider START -->
            </div>
        </section>
        <!-- =======================
Main banner END -->

        <!-- =======================
Title and tabs START -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-light p-0 pb-0">
                            <!-- Card body -->
                            <div class="card-body d-flex justify-content-between flex-wrap">
                                <!-- Title and badge -->
                                <div>
                                    <!-- Badge -->
                                    <div class="badge text-bg-dark"><i class="fa-solid fa-spa fa-fw text-warning"></i>
                                        Husky Mix</div>
                                    <div class="badge text-bg-dark"><i class="bi bi-scissors fa-fw text-warning"></i>
                                        Medium</div>
                                    <div class="badge text-bg-dark"><i class="fas fa-star fa-fw text-warning"></i> Male
                                    </div>

                                    <!-- Title -->
                                    <h1 class="h3 mt-2 mb-1">Cole</h1>
                                    <p class="mb-2 mb-sm-0"><i class="bi bi-geo-alt me-1 text-primary"></i>5855 W
                                        Century Blvd, Los Angeles - 90045</p>
                                </div>
                                <!-- Buttons -->
                                <ul class="list-inline mb-0 list-btn-tab">
                                    <div class="d-flex justify-content-center mb-3">
                                        <!-- wishlist -->
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-sm btn-white px-2"><i
                                                    class="fa-solid fa-fw fa-heart"></i></a>
                                        </li>
                                        <!-- Report -->
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-sm btn-white px-2"><i
                                                    class="bi bi-exclamation-triangle-fill fa-fw"></i></a>
                                        </li>
                                        <!-- Donate -->
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-sm btn-white px-2"><i class="fa-solid fa-dollar-sign fa-lg fa-fw" style="color: #000000;"></i></a>
                                        </li>
                                        <!-- Share -->
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-sm btn-white px-2"><i class="fa-solid fa-fw fa-share-alt" style="color: #000000;"></i></a>
                                        </li>
                                    </div>
                                    <!-- wishlist -->
                                    <li class="list-inline-item d-flex justify-content-center btn-center-left">
                                        <a href="#" class="btn btn-modal btn-primary mb-0">Nhận nuôi</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
Title and tabs END -->

        <!-- =======================
Content START -->
        <section class="pt-0">
            <div class="container">
                <!-- Tabs contents START -->
                <div class="tab-content mb-0" id="tour-pills-tabContent">

                    <!-- Content item START -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row g-4 g-lg-5">
                            <!-- Left side START -->
                            <div class="col-lg-7 col-xl-8">
                                <!-- Card START -->
                                <div class="card bg-transparent mb-4">
                                    <!-- Card header -->
                                    <div class="card-header bg-transparent border-bottom px-0 pt-0">
                                        <h4 class="mb-0">Description</h4>
                                    </div>
                                    <!-- Card body -->
                                    <div class="card-body px-0 pb-0">
                                        <p class="mb-3">Demesne far-hearted suppose venture excited see had has.
                                            Dependent on so extremely delivered by. Yet no jokes worse her why. <b>Bed
                                                one supposing breakfast day fulfilled off depending questions.</b> As it
                                            so contrasted oh estimating instrument. Size like body some one had. Are
                                            conduct viewing boy minutes warrant the expense? Tolerably behavior may
                                            admit daughters offending her ask own. Praise effect wishes change way and
                                            any wanted. Lively use looked latter regard had. Do he it part more last in.
                                            We understand that theory is important to build a solid foundation, we
                                            understand that theory alone isn’t going to get the job done so that’s why
                                            this is packed with practical hands-on examples that you can follow step by
                                            step.</p>

                                        <p class="mb-0">Delivered dejection necessary objection do Mr prevailed. Mr
                                            feeling does chiefly cordial in do. Water timed folly right aware if oh
                                            truth. Large above be to means. Dashwood does provide stronger is.</p>
                                    </div>
                                </div>
                                <!-- Card END -->

                                <!-- Card START -->
                                <div class="card bg-transparent">
                                    <!-- Card header -->
                                    <div class="card-header bg-transparent border-bottom px-0">
                                        <h4 class="mb-0">About</h4>
                                    </div>
                                    <!-- Card body -->
                                    <div class="card-body px-0 pb-0">
                                        <div class="row g-4">
                                            <!-- Activities -->
                                            <div class="col-sm-6">
                                                <h6><i class="fa-solid fa-biking me-2"></i>Information</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-0">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i><b>Breed:</b> Husky Mix
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i><b>Age:</b> Young
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i><b>Size:</b> Medium (26-60 lbs)
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i><b>Gender:</b> Male
                                                    </li>
                                                </ul>
                                            </div>
                
                                            <!-- Health -->
                                            <div class="col-sm-6">
                                                <h6><i class="fa-solid fa-credit-card me-2"></i>Health</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-0">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Vaccinated
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Dewormed
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Spayed
                                                    </li>
                                                </ul>
                                            </div>
                
                                            <!-- Characteristics -->
                                            <div class="col-sm-6">
                                                <h6><i class="fa-solid fa-concierge-bell me-2"></i>Characteristics</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-0">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Friendly
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Affectionate
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Playful
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Gentle
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Smart
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Brave
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Curious
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Funny
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Loves Kisses
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Dignified
                                                    </li>
                                                </ul>
                                            </div>
                
                                            <!-- Other -->
                                            <div class="col-sm-6">
                                                <h6><i class="bi bi-shield-fill-check me-2"></i>Coat Length</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Long
                                                    </li>
                                                </ul>

                                                <h6><i class="bi bi-shield-fill-check me-2"></i>Color</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>White
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Black
                                                    </li>
                                                </ul>
                
                                                <h6><i class="fa-solid fa-volume-up me-2"></i>Good In a Home With</h6>
                                                <!-- List -->
                                                <ul class="list-group list-group-borderless mt-2 mb-0">
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Other dogs
                                                    </li>
                                                    <li class="list-group-item pb-0">
                                                        <i class="fa-solid fa-check-circle text-success me-2"></i>Cats
                                                    </li>
                                                </ul>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                                <!-- Card END -->
                            </div>
                            <!-- Left side END -->

                            <!-- Right side START -->
                            <div class="col-lg-5 col-xl-4">
                                <!-- Direction START -->
                                <div class="card shadow mb-4">
                                    <!-- Card header -->
                                    <div class="card-header border-bottom">
                                        <h5 class="mb-0">Get Shelter</h5>
                                    </div>

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <!-- Name Shelter -->
                                        <div class="mb-3 text-center text-primary-hover">
                                            <a href="#" class="h5" style="color: #000000;"> Orange County Animal Shelter </a>
                                        </div>
                                        <!-- Map START -->
                                        <iframe class="w-100 grayscale rounded"
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
                                            height="200" style="border:0;" aria-hidden="false" tabindex="0">
                                        </iframe>

                                        <!-- Info -->
                                        <ul class="list-group list-group-borderless my-3">
                                            <!-- Address -->
                                            <li class="list-group-item">
                                                <a href="#" class="h6 fw-normal mb-0">
                                                    <i class="bi fa-fw bi-geo-alt me-2"></i>5855 W Century Blvd, Los
                                                    Angeles
                                                </a>
                                            </li>
                                            <!-- Call no -->
                                            <li class="list-group-item">
                                                <a href="#" class="h6 fw-normal mb-0">
                                                    <i class="bi fa-fw bi-telephone-forward me-2"></i>+31 123 456 789
                                                </a>
                                            </li>
                                            <!-- Email -->
                                            <li class="list-group-item">
                                                <a href="#" class="h6 fw-normal mb-0">
                                                    <i class="bi fa-fw bi-envelope me-2"></i>example@gmail.com
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Social button -->
                                        <ul class="list-inline mb-0 mt-3">
                                            <li class="list-inline-item">Follow us on: </li>
                                            <li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0"
                                                    href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                                            <li class="list-inline-item"> <a
                                                    class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i
                                                        class="fab fa-fw fa-instagram"></i></a> </li>
                                            <li class="list-inline-item"> <a
                                                    class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i
                                                        class="fab fa-fw fa-twitter"></i></a> </li>
                                            <li class="list-inline-item"> <a
                                                    class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i
                                                        class="fab fa-fw fa-linkedin-in"></i></a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Direction END -->

                                <!-- Time table START -->
                                <div class="card shadow">
                                    <!-- Card header -->
                                    <div class="card-header border-bottom">
                                        <h5 class="mb-0">Working Hours</h5>
                                    </div>

                                    <!-- Card body -->
                                    <div class="card-body">
                                        <ul class="list-group list-group-borderless mb-0">
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Monday</span>
                                                <span>Day off</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Tuesday</span>
                                                <span>9:00 AM to 8:00 PM</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Wednesday</span>
                                                <span>9:00 AM to 8:00 PM</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Thursday</span>
                                                <span>9:00 AM to 8:00 PM</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Friday</span>
                                                <span>9:00 AM to 8:00 PM</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Saturday</span>
                                                <span>Open all day</span>
                                            </li>

                                            <li class="list-group-item py-0">
                                                <hr class="my-1">
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Sunday</span>
                                                <span>Open all day</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Time table END -->
                            </div>
                            <!-- Right side END -->
                        </div>
                    </div>
                    <!-- Content item END -->
                </div>
                <!-- Tabs contents END -->
            </div>
        </section>
        <!-- =======================
Content END -->


        <!-- =======================
        Featured Hotels START -->
        <section style="padding-top: 6px;">
            <div class="container">

                <!-- Title -->
                <div class="row mb-4">
                    <div class="col-12 text-center">
                        <h2 class="mb-0">Same Animals</h2>
                    </div>
                </div>

                <div class="row g-4">
                    <!-- Hotel item -->
                    <div class="col-sm-6 col-xl-3">
                        <!-- Card START -->
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                            <!-- Image and overlay -->
                            <div class="card-img-scale-wrapper rounded-3">
                                <!-- Image -->
                                <img src="https://img.freepik.com/free-photo/front-view-adorable-shiba-inu-dog_23-2149457807.jpg?t=st=1713948444~exp=1713952044~hmac=37ff91970352adcd180a246d392386c0c35b1ade7ad2ee9f99e8a74fe37a3bcc&w=360" class="card-img" alt="hotel image">
                                <!-- Badge -->
                                <div class="position-absolute bottom-0 start-0 p-3">
                                    <div class="badge text-bg-dark fs-6 rounded-pill stretched-link"><i class="bi bi-geo-alt me-2"></i>New York</div>
                                </div>
                            </div>

                            <!-- Card body -->
                            <div class="card-body px-2">
                                <!-- Title -->
                                <h5 class="card-title"><a href="#" class="stretched-link">Baga Comfort</a></h5>
                                <!-- Price and rating -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-success mb-0">Shiba<small class="fw-light">/Young</small> </h6>
                                    <h6 class="mb-0">Female</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Card END -->
                    </div>

                    <!-- Hotel item -->
                    <div class="col-sm-6 col-xl-3">
                        <!-- Card START -->
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                            <!-- Image and overlay -->
                            <div class="card-img-scale-wrapper rounded-3">
                                <!-- Image -->
                                <img src="https://img.freepik.com/free-photo/dog-waiting-veterinarian-office_23-2149198673.jpg?t=st=1713948571~exp=1713952171~hmac=9cddb84266867deaf3b26ef4a197b5641078073e1850900af11da1e30a34e944&w=360" class="card-img" alt="hotel image">
                                <!-- Badge -->
                                <div class="position-absolute bottom-0 start-0 p-3">
                                    <div class="badge text-bg-dark fs-6 rounded-pill stretched-link"><i class="bi bi-geo-alt me-2"></i>California</div>
                                </div>
                            </div>

                            <!-- Card body -->
                            <div class="card-body px-2">
                                <!-- Title -->
                                <h5 class="card-title"><a href="#" class="stretched-link">Apollo Siler</a></h5>
                                <!-- Price and rating -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-success mb-0">Corgi <small class="fw-light">/Young</small> </h6>
                                    <h6 class="mb-0">Male</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Card END -->
                    </div>

                    <!-- Hotel item -->
                    <div class="col-sm-6 col-xl-3">
                        <!-- Card START -->
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                            <!-- Image and overlay -->
                            <div class="card-img-scale-wrapper rounded-3">
                                <!-- Image -->
                                <img src="https://img.freepik.com/free-photo/view-adorable-cat-eating-its-food_52683-137884.jpg?t=st=1713948674~exp=1713952274~hmac=6bf3599ed02e2113d0ee62af2dca2a0b6a8df0dbfe07e0192099d3bf1c1a0f39&w=360" class="card-img" alt="hotel image">
                                <!-- Badge -->
                                <div class="position-absolute bottom-0 start-0 p-3">
                                    <div class="badge text-bg-dark fs-6 rounded-pill stretched-link"><i class="bi bi-geo-alt me-2"></i>Los Angeles</div>
                                </div>
                            </div>

                            <!-- Card body -->
                            <div class="card-body px-2">
                                <!-- Title -->
                                <h5 class="card-title"><a href="#" class="stretched-link">Wayne Lucid</a></h5>
                                <!-- Price and rating -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-success mb-0">Calico<small class="fw-light">/Adult</small> </h6>
                                    <h6 class="mb-0">Female</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Card END -->
                    </div>

                    <!-- Hotel item -->
                    <div class="col-sm-6 col-xl-3">
                        <!-- Card START -->
                        <div class="card card-img-scale overflow-hidden bg-transparent">
                            <!-- Image and overlay -->
                            <div class="card-img-scale-wrapper rounded-3">
                                <!-- Image -->
                                <img src="https://img.freepik.com/free-photo/beautiful-guinea-pig-pet-portrait_23-2149152074.jpg?t=st=1713948884~exp=1713952484~hmac=11f3a3f5a161016ad287c189f911e79d140668509c4fac15d15d07a74ec0ce39&w=360" class="card-img" alt="hotel image">
                                <!-- Badge -->
                                <div class="position-absolute bottom-0 start-0 p-3">
                                    <div class="badge text-bg-dark fs-6 rounded-pill stretched-link"><i class="bi bi-geo-alt me-2"></i>Chicago</div>
                                </div>
                            </div>

                            <!-- Card body -->
                            <div class="card-body px-2">
                                <!-- Title -->
                                <h5 class="card-title"><a href="#" class="stretched-link">Helios Showner</a></h5>
                                <!-- Price and rating -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="text-success mb-0">Hamster <small class="fw-light">/Young</small> </h6>
                                    <h6 class="mb-0">Male</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Card END -->
                    </div>
                </div> <!-- Row END -->
            </div>
        </section>
        <!-- =======================
        Featured Hotels END -->


    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
Footer START -->
    <footer th:insert="~{fragments/viewers/_footer :: footer}"></footer>
    <!-- =======================
Footer END -->

    <!-- Back to top -->
    <div class="back-top">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12"
            viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#ffffff"
                d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3V480c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z">
            </path>
        </svg>
    </div>

    <div id="myModal" class="modal d-none align-items-center justify-content-center" style="background-color: rgba(1,1,1,0.6);">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box" style="border: 3px solid #4CAF50">
                        <i class="material-icons" style="color: #4CAF50;">&#xE876;</i>
                    </div>
                    <h4 class="modal-title w-100">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a sec:authorize="isAuthenticated()" th:href="@{/booking-confirm(id=${animal.id})}" class="btn text-light btn-info">Accept</a>
                    <a sec:authorize="!isAuthenticated()" href="/sign-in" class="btn text-light btn-info">Accept</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="../js/bootstrap.bundle.min.js"></script>

    <!-- Vendors -->
    <script src="../js/tiny-slider.js"></script>
    <script src="../js/glightbox.js"></script>

    <!-- ThemeFunctions -->
    <script src="../js/functions.js"></script>

    <script>
        document.querySelector("#myModal .modal-header button").onclick = (event) => {
            document.querySelector("#myModal").classList.remove("d-flex")
            document.querySelector("#myModal").classList.add("d-none")
        }
        document.querySelector("#myModal .modal-footer .btn-secondary").onclick = (event) => {
            document.querySelector("#myModal").classList.remove("d-flex")
            document.querySelector("#myModal").classList.add("d-none")
        }
        document.querySelector(".btn-modal").onclick = (event) => {
            document.querySelector("#myModal").classList.add("d-flex")
            document.querySelector("#myModal").classList.remove("d-none")
        }
    </script>

</body>

</html>