<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Booking - Multipurpose Online Booking Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Booking - Multipurpose Online Booking Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')
 
        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }

        const setTheme = function (theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if(el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                const activeThemeIcon = document.querySelector('.theme-icon-active use')
                const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active')
                })

                btnToActive.classList.add('active')
                activeThemeIcon.setAttribute('href', svgOfActiveBtn)
            }

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                if (storedTheme !== 'light' || storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            showActiveTheme(getPreferredTheme())

            document.querySelectorAll('[data-bs-theme-value]')
                .forEach(toggle => {
                    toggle.addEventListener('click', () => {
                        const theme = toggle.getAttribute('data-bs-theme-value')
                        localStorage.setItem('theme', theme)
                        setTheme(theme)
                        showActiveTheme(theme)
                    })
                })

            }
        })

    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="../css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="../css/choices.min.css">
    <link rel="stylesheet" type="text/css" href="../css/nouislider.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">

</head>

<body>

<!-- Header START -->
<header class="navbar-light header-sticky" th:insert="~{fragments/viewers/_header :: header}"></header>
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Search START -->
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Booking from START -->
                    <div class="form-control-bg-light bg-mode border p-4 rounded-3">
                        <!-- Tab content START -->
                        <div class="tab-content mt-0">
                            <!-- One way tab START -->
                            <form action="#" method="get" class="row g-4 align-items-center">
                                <div class="col-xl-12">
                                    <div class="row g-4">
                                        <!-- Leaving From -->
                                        <div class="col-md-6 col-xl-6">
                                            <div class="form-size-lg">
                                                <label class="form-label">Vị trí</label>
                                                <select class="form-select js-choice" data-search-enabled="true" aria-label=".form-select-sm" name="location">
                                                    <option value="" selected>Chọn vị trí</option>
                                                    <option>An Giang</option>
                                                    <option>Bà Rịa - Vũng Tàu</option>
                                                    <option>Bắc Giang</option>
                                                    <option>Bắc Kạn</option>
                                                    <option>Bạc Liêu</option>
                                                    <option>Bắc Ninh</option>
                                                    <option>Bến Tre</option>
                                                    <option>Bình Dương</option>
                                                    <option>Bình Định</option>
                                                    <option>Bình Phước</option>
                                                    <option>Bình Thuận</option>
                                                    <option>Cà Mau</option>
                                                    <option>Cần Thơ</option>
                                                    <option>Cao Bằng</option>
                                                    <option>Đà Nẵng</option>
                                                    <option>Đắk Lắk</option>
                                                    <option>Đắk Nông</option>
                                                    <option>Điện Biên</option>
                                                    <option>Đồng Nai</option>
                                                    <option>Đồng Tháp</option>
                                                    <option>Gia Lai</option>
                                                    <option>Hà Giang</option>
                                                    <option>Hà Nam</option>
                                                    <option>Hà Nội</option>
                                                    <option>Hà Tĩnh</option>
                                                    <option>Hải Dương</option>
                                                    <option>Hải Phòng</option>
                                                    <option>Hậu Giang</option>
                                                    <option>Hồ Chí Minh</option>
                                                    <option>Hoà Bình</option>
                                                    <option>Hưng Yên</option>
                                                    <option>Khánh Hòa</option>
                                                    <option>Kiên Giang</option>
                                                    <option>Kon Tum</option>
                                                    <option>Lai Châu</option>
                                                    <option>Lâm Đồng</option>
                                                    <option>Lạng Sơn</option>
                                                    <option>Lào Cai</option>
                                                    <option>Long An</option>
                                                    <option>Nam Định</option>
                                                    <option>Nghệ An</option>
                                                    <option>Ninh Bình</option>
                                                    <option>Ninh Thuận</option>
                                                    <option>Phú Thọ</option>
                                                    <option>Phú Yên</option>
                                                    <option>Quảng Bình</option>
                                                    <option>Quảng Nam</option>
                                                    <option>Quảng Ngãi</option>
                                                    <option>Quảng Ninh</option>
                                                    <option>Quảng Trị</option>
                                                    <option>Sóc Trăng</option>
                                                    <option>Sơn La</option>
                                                    <option>Tây Ninh</option>
                                                    <option>Thái Bình</option>
                                                    <option>Thái Nguyên</option>
                                                    <option>Thanh Hóa</option>
                                                    <option>Thừa Thiên Huế</option>
                                                    <option>Tiền Giang</option>
                                                    <option>Trà Vinh</option>
                                                    <option>Tuyên Quang</option>
                                                    <option>Vĩnh Long</option>
                                                    <option>Vĩnh Phúc</option>
                                                    <option>Yên Bái</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Going To -->
                                        <div class="col-md-6 col-xl-6">
                                            <div class="form-size-lg">
                                                <label class="form-label">Tên trung tâm</label>
                                                <input name="name" type="text" class="form-control form-control-lg" placeholder="Kauai Humane Society">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-2">
                                    <button type="submit" class="btn btn-lg btn-primary w-100 mb-0">Tìm kiếm</button>
                                </div>
                            </form>
                            <!-- One way tab END -->
                        </div>
                        <!-- Tab content END -->
                    </div>
                    <!-- Booking from END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Search START -->

    <!-- =======================
    Titles START -->
    <section class="pt-6">
        <div class="container position-relative">

            <!-- Title and button START -->
            <div class="row">
                <div class="col-12">
                    <div class="d-sm-flex justify-content-sm-between align-items-center">
                        <!-- Title -->
                        <div class="mb-2 mb-sm-0">
                            <h1 class="fs-3 mb-2"><span th:text="${totalShelter}">5</span> trung tâm sẵn có</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Title and button END -->

        </div>
    </section>
    <!-- =======================
    Titles END -->

    <!-- =======================
    Cab list START -->
    <section class="pt-0">
        <!-- Contains -->
        <div class="container">
            <div class="show-card-info row g-4">
                <!-- Card item START -->
                <div class="col-md-12 col-xl-6" th:each="shelter : ${listShelter}">
                    <div class="card border p-4">
                        <!-- Card body START -->
                        <div class="card-body p-0">
                            <div class="row g-2 g-sm-4">
                                <!-- Card image -->
                                <div class="col-md-4 col-xl-3">
                                    <div class="bg-light rounded-3 px-4 py-5">
                                        <img src="https://booking.webestica.com/assets/images/category/cab/seadan.svg" alt="">
                                    </div>
                                </div>

                                <!-- Card title and rating -->
                                <div class="col-sm-6 col-md-4 col-xl-6">
                                    <h5 class="card-title mb-2"><a th:href="@{/shelter/detail(id=${shelter.id})}" class="stretched-link" th:text="${shelter.shelterName}">Camry, Accord</a></h5>
                                    <!-- Nav divider -->
                                    <small class="fw-semibold" th:text="${shelter.shelterAddress}">74/11 Tam Chau, Tam Phu, Thu Duc, TP.HCM, Viet Nam</small>

                                    <h6 class="card-title mt-2" th:text="${shelter.shelterPhone}">0906337725</h6>
                                </div>

                                <!-- Button -->
                                <div class="col-sm-6 col-md-4 col-xl-3 text-sm-end">
                                    <a th:href="@{/shelter/detail(id=${shelter.id})}" class="btn btn-dark mb-0">Xem chi tiết</a>
                                </div>
                            </div> <!-- Row END -->
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
                <!-- Card item END -->
            </div>

            <!-- Pagination -->
            <nav class="d-flex justify-content-center mt-5" aria-label="navigation" th:if="${listShelter.totalPages} >= 2">
                <ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                    <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fa-solid fa-angle-left"></i></a></li>
                    <li class="" th:each="pageNumber, pageIndex : ${#numbers.sequence(0, listShelter.totalPages - 1)}"
                        th:class="${pageIndex.index + 1} == ${page} ? 'page-item mb-0 pageable active' : 'page-item mb-0 pageable'">
                        <a th:href="@{/shelter/list/changePage(page=${pageIndex.index})}" th:text="${pageIndex.index + 1}" class="page-link take-a-pet"></a>
                    </li>
                    <li class="page-item mb-0"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- =======================
    Cab list END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
<footer th:insert="~{fragments/viewers/_footer :: footer}"></footer>
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top">
    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12"
         viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path fill="#ffffff"
              d="M214.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 109.3V480c0 17.7 14.3 32 32 32s32-14.3 32-32V109.3l73.4 73.4c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-128-128z">
        </path>
    </svg>
</div>

<!-- Bootstrap JS -->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="../js/sticky.min.js"></script>
<script src="../js/flatpickr.min.js"></script>
<script src="../js/choices.min.js"></script>
<script src="../js/nouislider.min.js"></script>

<!-- ThemeFunctions -->
<script src="../js/functions.js"></script>

</body>
</html>