<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Booking - Multipurpose Online Booking Theme</title>
    
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Webestica.com">
        <meta name="description" content="Booking - Multipurpose Online Booking Theme">
    
        <!-- Dark mode -->
        <script>
            const storedTheme = localStorage.getItem('theme')
     
            const getPreferredTheme = () => {
                if (storedTheme) {
                    return storedTheme
                }
                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }
    
            const setTheme = function (theme) {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }
    
            setTheme(getPreferredTheme())
    
            window.addEventListener('DOMContentLoaded', () => {
                var el = document.querySelector('.theme-icon-active');
                if(el != 'undefined' && el != null) {
                    const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')
    
                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })
    
                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }
    
                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })
    
                showActiveTheme(getPreferredTheme())
    
                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })
    
                }
            })
            
        </script>
    
        <!-- Font-Awesome -->
        <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
        <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    
        <!-- Favicon -->
        <link rel="shortcut icon" href="../images/favicon.ico">
    
        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">
    
        <!-- Plugins CSS -->
        <link rel="stylesheet" type="text/css" href="../css/all.min.css">

        <!-- Theme CSS -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">

		<style>
			.disabled {
                pointer-events: none;
                color: grey;
            }
            #countdown {
                margin-left: 12px;
                font-weight: bold;
            }
		</style>
    </head>
</head>

<body>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Main Content START -->
<section class="vh-xxl-100">
	<div class="container h-100 d-flex px-0 px-sm-4">
		<div class="row justify-content-center align-items-center m-auto">
			<div class="col-12">
				<div class="shadow bg-mode rounded-3 overflow-hidden">
					<div class="row g-0 align-items-center">
						<!-- Vector Image -->
						<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
							<div class="p-3 p-lg-5">
								<img src="https://booking.webestica.com/assets/images/element/forgot-pass.svg" alt="">
							</div>
							<!-- Divider -->
							<div class="vr opacity-1 d-none d-lg-block"></div>
						</div>
		
						<!-- Information -->
						<div class="col-lg-6 order-1">
							<div class="p-4 p-sm-7">
								<!-- Logo -->
								<a href="/index">
									<img class="mb-4 h-50px" src="#" alt="logo">
								</a>
								<!-- Title -->
								<h1 class="mb-2 h3">Xác thực tài khoản</h1>
								<p class="mb-sm-0">Chúng tôi phải gửi mã tới <b th:text="${email}">example@gmail.com</b></p>
								
								<!-- Form START -->
								<form action="/checkOtp" class="mt-sm-4 tab-two-factor" method="post">
									<!-- Input box -->
									<p class="mb-1">Nhập mã chúng tôi đã gửi cho bạn:</p>
									<div class="form-group">
										<div class="autotab d-flex justify-content-between gap-1 gap-sm-3 mb-2">
											<input id="tf-1" name="so1" type="text" maxlength="1" class="form-control text-center p-3">
											<input id="tf-2" name="so2" type="text" maxlength="1" class="form-control text-center p-3">
											<input id="tf-3" name="so3" type="text" maxlength="1" class="form-control text-center p-3">
											<input id="tf-4" name="so4" type="text" maxlength="1" class="form-control text-center p-3">
											<input id="tf-5" name="so5" type="text" maxlength="1" class="form-control text-center p-3">
										</div>
										<div th:class="${errorMessage} == null ? 'invalid-feedback d-flex justify-content-end d-block' : 'invalid-feedback d-flex justify-content-end'" th:text="${errorMessage}">  </div>
									</div>
									<!-- Button link -->
									<div class="d-sm-flex justify-content-between small mb-4">
										<span>Bạn không nhận được mã?</span>
										<div>
											<span id="countdown" class="text-decoration"></span>
											<a href="/resetOtp" id="resendBtn" class="btn btn-sm btn-link p-0 text-decoration-underline mb-0">Bấm để gửi lại</a>
										</div>
									</div>

									<!-- Button -->
									<div><button type="submit" class="btn btn-primary w-100 mb-0">Xác minh và xử lý</button></div>
		
									<!-- Copyright -->
									<div class="text-primary-hover mt-3 text-center"> Copyrights ©2023 Booking. Build by <a href="https://www.webestica.com/" class="text-body">Webestica</a>. </div>
								</form>
								<!-- Form END -->
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="../js/bootstrap.bundle.min.js"></script>

<!-- ThemeFunctions -->
<script src="../js/functions.js"></script>

<!-- Validation -->
<script src="../js/validation.js"></script>

<script>
	Validator({
        workplace: ".tab-two-factor",
        formGroupSelector: '.form-group',
        rules: [
            Validator.isRequired("#tf-1", "Vui lòng nhập đầy đủ thông tin."),
            Validator.isRequired("#tf-2", "Vui lòng nhập đầy đủ thông tin."),
            Validator.isRequired("#tf-3", "Vui lòng nhập đầy đủ thông tin."),
            Validator.isRequired("#tf-4", "Vui lòng nhập đầy đủ thông tin."),
            Validator.isRequired("#tf-5", "Vui lòng nhập đầy đủ thông tin."),
        ]
    });
</script>

<script th:if="${reset}">
	window.onload = function() {
        let btn = document.getElementById('resendBtn');
        let countdownSpan = document.getElementById('countdown');
        let countdownTime = 60;

        // Set disable
        btn.classList.add("disabled");

        // Set initial countdown
        btn.textContent = 'Resend OTP in ';
        countdownSpan.textContent = countdownTime + 's';

        // Update countdown every second
        let countdownInterval = setInterval(function() {
            countdownTime--;
            countdownSpan.textContent = countdownTime + 's';

            if (countdownTime <= 0) {
                clearInterval(countdownInterval);
                btn.classList.remove('disabled');
                btn.textContent = 'Click to resend';
                countdownSpan.textContent = '';
            }
        }, 1000);
    };
</script>
</body>
</html>