<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Booking - Multipurpose Online Booking Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Booking - Multipurpose Online Booking Theme">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="../css/all.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="../css/bootstrap-icons.css"> -->

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="../css/style.css">

	<style>
		ul.valid-password {
            width: 100%;
            position: absolute;
            top: 82px;
            padding: 14px 20px;
            border: 1px solid #d2d1d3;
            background-color: #fff;
            z-index: 999 !important;
            list-style-type: none;
            li.valid {
                color: rgb(0, 170, 45);
                list-style: disc;
                font-weight: 600;
                list-style-type: none;
            }
            p{
                font-weight: 600;
                color: #000;
            }
        }

        ul.valid-password .batbuoc li,
        ul.valid-password .true3in4 li,
        ul.valid-password .trueValid li {
            padding-left: 18px;
        }
	</style>
</head>

<body>

	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
	Main Content START -->
		<section class="vh-xxl-100">
			<div class="container h-100 d-flex px-0 px-sm-4">
				<div class="row justify-content-center align-items-center m-auto">
					<div class="col-12">
						<div class="bg-mode shadow rounded-3 overflow-hidden">
							<div class="row g-0">
								<!-- Vector Image -->
								<div class="col-lg-6 d-md-flex align-items-center order-2 order-lg-1">
									<div class="p-3 p-lg-5">
										<img src="https://booking.webestica.com/assets/images/element/signin.svg"
											alt="">
									</div>
									<!-- Divider -->
									<div class="vr opacity-1 d-none d-lg-block"></div>
								</div>

								<!-- Information -->
								<div class="col-lg-6 order-1">
									<div class="p-4 p-sm-6">
										<!-- Logo -->
										<a href="/index">
											<img class="mb-4 h-50px" src="#" alt="logo">
										</a>
										<!-- Title -->
										<h1 class="mb-2 h3">Đặt lại mật khẩu</h1>
										<p class="mb-sm-0">Chúng tôi đã gửi mã tới <b th:text="${email}">example@gmail.com</b></p>

										<!-- Form START -->
										<form class="mt-4 text-start tab-resetPassword" action="/checkPass" method ="post">
											<!-- Password id -->
											<div class="mb-3 position-relative form-group">
												<label class="form-label">Nhập mã code</label>
												<input name="passwordCode" class="form-control" type="password" id="rp-password-id">
												<div th:class="${errorMessagePasswordCode} == null ? 'invalid-feedback' : 'invalid-feedback d-block'" th:text="${errorMessagePasswordCode}">  </div>
											</div>
											<!-- Password -->
											<div class="mb-3 position-relative form-group">
												<label class="form-label">Nhập mật khẩu mới</label>
												<input name ="password" class="form-control fakepassword password position-relative" type="password" id="rp-password">
												<span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">
													<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
												</span>
												<ul class="valid-password d-none">
													<div class="batbuoc">
														<p class="" style="margin-bottom: 4px;">Mật khẩu bắt buộc</p>
														<li class="length">Phải từ 8 đến 20 ký tự.</li>
													</div>
													<div class="true3in4 mt-2">
														<p class="" style="margin-bottom: 4px;">Phải chứa ít nhất 3 trong 4 điều kiện sau:</p>
														<li class="lowercase">Có ít nhất 1 ký tự thường.</li>
														<li class="uppercase">Có ít nhất 1 ký tự hoa.</li>
														<li class="number">Có ít nhất 1 ký số.</li>
														<li class="special">Có ít nhất 1 ký tự đặc biệt.</li>
													</div>
													<div class="trueValid d-none">
														<p class="" style="margin-bottom: 4px;">Mật khẩu hợp lệ</p>
														<li class="true-valid valid">Có hiệu lực.</li>
													</div>
												</ul>
												<div th:class="${errorMessagePassword} == null ? 'invalid-feedback' : 'invalid-feedback d-block'" th:text="${errorMessagePassword}" style="color: red;">  </div>
											</div>
											<!-- Confirm Password -->
											<div class="mb-3 form-group">
												<label class="form-label">Nhập lại mật khẩu</label>
												<input name ="confirmPassword" type="password" class="form-control" id="rp-password-confirm">
												<div th:class="${errorMessageConfirmPassword} == null ? 'invalid-feedback' : 'invalid-feedback d-block'" th:text="${errorMessageConfirmPassword}">  </div>
											</div>
											<!-- Button -->
											<div><button type="submit" class="btn btn-primary w-100 mb-0">Cập nhật mật khẩu</button></div>
										</form>
										<!-- Form END -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================
	Main Content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- Back to top -->
	<div class="back-top"></div>

	<!-- Bootstrap JS -->
	<script src="../js/bootstrap.bundle.min.js"></script>

	<!-- ThemeFunctions -->
	<script src="../js/functions.js"></script>

	<!--  JQuery  -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

	<!-- Validation -->
	<script src="../js/validation.js"></script>

	<script>
		Validator({
				workplace: ".tab-resetPassword",
				formGroupSelector: '.form-group',
				rules: [
					Validator.isRequired("#rp-password-id", "Vui lòng nhập code"),
					Validator.isRequired("#rp-password-confirm", "Vui lòng nhập nhập lại mật khẩu"),
					Validator.isConfirm("#rp-password-confirm", function() {
						return document.querySelector("#rp-password").value
					}, "Nhập lại mật khẩu không khớp")
				]
			});
	</script>
</body>

</html>