<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark pt-5" th:fragment="footer">
    <div class="container">
        <!-- Row START -->
        <div class="row g-4">

            <!-- Widget 1 START -->
            <div class="col-lg-4">
                <!-- logo -->
                <a href="/index">
                    <img class="h-40px" src="https://booking.webestica.com/assets/images/logo-light.svg" alt="logo">
                </a>
                <p class="mt-3 mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
                <p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-envelope me-2" style="padding-right: 2px;"></i>example@gmail.com</a></p>
                <p class="mb-0 text-body-secondary"><a href="#" class="text-body-secondary text-primary-hover"><i class="fa-solid fa-hotel me-2"></i>Floor 4-5-6, Capital Place Building, 29 Lieu Giai Street, Ngoc Khanh Ward, Ba Dinh District, Hanoi City, Vietnam.</a> </p>
            </div>
            <!-- Widget 1 END -->

            <!-- Widget 2 START -->
            <div class="col-lg-8 ms-auto">
                <div class="row g-4">
                    <!-- Link block -->
                    <div class="col-6 col-md-4">
                        <h5 class="text-white mb-2 mb-md-4">Resources</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">About us</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Contact us</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">News and Blog</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Help Center</a></li>
                        </ul>
                    </div>

                    <!-- Link block -->
                    <div class="col-6 col-md-4">
                        <h5 class="text-white mb-2 mb-md-4">Customer Service</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Adoption Guide</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Donation Instructions</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Shelter Instructions</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Privacy Policy</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Cookie</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#">Support</a></li>
                        </ul>
                    </div>

                    <!-- Link block -->
                    <div class="col-6 col-md-4 footer-flex-row">
                        <h5 class="text-white mb-2 mb-md-4">Searching</h5>
                        <ul class="nav flex-column text-primary-hover">
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-dog me-2" style="color: #ffffff;"></i>Dogs & Puppies</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-cat me-2" style="color: #ffffff;"></i>Cats & Kiitens</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-paw me-2" style="color: #ffffff;"></i>Other Animals</a></li>
                            <li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-house me-2" style="color: #ffffff;"></i>Shelter & Rescues</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Widget 2 END -->

        </div><!-- Row END -->

        <!-- Tops Links -->
        <div class="row mt-5">
            <h5 class="mb-2 text-white">Top Links</h5>
            <ul class="list-inline text-primary-hover lh-lg">
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Shelter & Rescue Registration</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Sitemap</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Terms of Service</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Notice at Collection</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">About us</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Contact us</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Blogs</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Services</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Privacy Policy</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Cookie Policy</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Accessibility</a></li>
                <li class="list-inline-item"><a href="#" class="text-body-secondary">Do Not Sell Or Share My Personal Information</a></li>
            </ul>
        </div>

        <!-- Payment and card -->
        <div class="row g-4 justify-content-between mt-0 mt-md-2">

            <!-- Payment card -->
            <div class="col-sm-7 col-md-6 col-lg-4">
                <h5 class="text-white mb-2">Payment & Security</h5>
                <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item"> <a href="#"><img src="https://booking.webestica.com/assets/images/element/paypal.svg" class="h-30px" alt=""></a></li>
                    <li class="list-inline-item"> <a href="#"><img src="https://booking.webestica.com/assets/images/element/visa.svg" class="h-30px" alt=""></a></li>
                    <li class="list-inline-item"> <a href="#"><img src="https://booking.webestica.com/assets/images/element/mastercard.svg" class="h-30px" alt=""></a></li>
                    <li class="list-inline-item"> <a href="#"><img src="https://booking.webestica.com/assets/images/element/expresscard.svg" class="h-30px" alt=""></a></li>
                </ul>
            </div>

            <!-- Social media icon -->
            <div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
                <h5 class="text-white mb-2">Follow us on</h5>
                <ul class="list-inline mb-0 mt-3">
                    <li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                    <li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                </ul>
            </div>
        </div>

        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="row">
            <div class="container">
                <div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
                    <!-- copyright text -->
                    <div class="text-body-secondary text-primary-hover"> Copyrights ©2023 Booking. Build by <a href="https://www.webestica.com/" class="text-body-secondary">Webestica</a>. </div>
                    <!-- copyright links-->
                    <div class="nav mt-2 mt-lg-0">
                        <ul class="list-inline text-primary-hover mx-auto mb-0">
                            <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">Privacy policy</a></li>
                            <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">Terms and conditions</a></li>
                            <li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="#">Refund policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>